.acftools-message {
  position: fixed !important;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0px);
  opacity: 0;
  animation: fade-in 5s ease-in-out;
  z-index: 10000;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.row-options {
  display: flex;
  align-items: center;
}

.row-options .copy-field-code {
  margin-left: 12px !important;
}
.acf-field-object.open>.handle a.button-secondary {
  color: #0071a1 !important;
}

.post-edit-field-name-info {
  margin: 0 8px;
  color: #191e23;
  font-size: 0 !important;
  color: #AAAAAA;
  opacity: 0;
}
.acf-field:hover > .acf-label > label > .post-edit-field-name-info, 
.acf-field:focus > .acf-label > label > .post-edit-field-name-info,
.acf-th:hover > label > .post-edit-field-name-info, 
.acf-th:focus > label > .post-edit-field-name-info  {
  opacity: 1;
}
.post-edit-field-name-info:hover, .post-edit-field-name-info:focus {
  color: #777777;
}
.post-edit-field-name-info::before {
  font-size: 20px !important;
}
