.acftools-message {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0px);
  pointer-events: none;
  opacity: 0;
  animation: fade-in-slide 2s ease-in-out;
  display: block;
  font-size: 14.4px;
  background-color: #C7E8CA;
  padding: 8px;
  text-align: center;
  max-width: 100%;
  width: 900px;
}

@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}

.li-field-name,
.li-field-type {
  cursor: pointer;
}
.li-field-name:hover,
.li-field-type:hover {
  text-decoration: underline;
}

.row-options {
  display: flex;
  align-items: center;
}

.row-options .copy-field-code {
  margin-left: 12px !important;
}
.acf-field-object.open>.handle a.button-secondary {
  color: #0071a1 !important;
}